/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* variables */
:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --grayish-blue: hsl(201, 11%, 66%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
}

/* page reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

img {
  max-width: 100%;
}

ul,
ul li {
  text-indent: 0;
  list-style-type: none;
}

button,
button:focus,
button:active {
  border: none;
  outline: none;
  cursor: pointer;
}

/* general styles */
section,
footer {
  padding: 60px 7%;
}

p {
  font-size: 1.6rem;
  color: var(--grayish-blue);
  line-height: 2.5rem;
}

/* custom classes */
.custom__button {
  padding: 2rem 3rem;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 3rem;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.custom__button:hover {
  opacity: 0.75;
}

.section__title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--dark-grayish-blue);
}

.section__desc {
  text-align: center;
  max-width: 620px;
  margin: 1.5rem auto 5rem;
}

/* landing section start */
.landing {
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/images/bg-header-mobile.png");
}

.landing__logo {
  width: 125px;
  height: 125px;
  margin-bottom: 5rem;
}

.landing h1 {
  font-weight: 600;
  font-size: 3.2rem;
  color: var(--dark-grayish-blue);
}

.landing p {
  font-size: 1.6rem;
  color: var(--grayish-blue);
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.landing__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem 2rem;
}

.landing__buttons > button:nth-child(1) {
  border-bottom: 2px solid #166a5d;
  background-color: var(--strong-cyan);
}

.landing__buttons > button:nth-child(2) {
  border-bottom: 2px solid hsl(233, 44%, 48%);
  background-color: var(--light-blue);
}

@media (max-width: 575px) {
  .landing {
    padding: 40px 7%;
  }
}

@media (min-width: 576px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../assets/images/bg-header-desktop.png");
  }

  .landing p {
    max-width: 50rem;
    margin: 2rem auto 3.5rem;
  }

  .landing__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
/* landing section end */

/* services section start */
.services__image {
  margin-bottom: 5rem;
}

.service {
  text-align: center;
  margin: 3rem 0;
}

.service h3 {
  font-size: 2.6rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .services {
    padding: 80px 0;
  }

  .services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10rem;
    -moz-column-gap: 10rem;
    column-gap: 10rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .services__image {
    width: 50%;
    aspect-ratio: 1.31 / 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .services__container {
    width: 50%;
  }

  .service {
    text-align: start;
    max-width: 350px;
  }
}
/* services section end */

/* location section start */
.location__image {
  display: block;
  margin: auto;
}
/* location section end */

/* features section start */
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3rem 3rem;
}

.feature {
  text-align: center;
}

.feature h3 {
  font-size: 2.6rem;
  color: var(--dark-grayish-blue);
  margin: 2rem 0 1rem;
}

.feature p {
  max-width: 350px;
  margin: auto;
}
/* features section end */

/* companies section start */
.companies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5rem 5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* companies section end */

/* footer start */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f5f6f8;
}

footer > img {
  width: 50px;
  aspect-ratio: 1 / 1;
  display: block;
  margin: 0 auto 3rem;
}

footer ul {
  text-align: center;
  margin-bottom: 1rem;
}

footer ul li {
  font-size: 1.6rem;
  color: var(--dark-grayish-blue);
}

footer ul li:hover {
  cursor: pointer;
  color: var(--strong-cyan);
}

footer ul li:not(:last-child) {
  margin: 0 0 1rem;
}

footer .social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3rem;
}

footer .social__media img {
  cursor: pointer;
}

@media (min-width: 576px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  footer > img,
  footer ul {
    margin: 0;
  }

  footer ul {
    text-align: start;
  }
}
/* footer end */